<img src="{{ 'chris-thomson.jpeg' | asset_url }}">
<h1>Hi, I'm Chris Thomson.</h1>

<p id="overview">
  I'm a developer at <a href="https://www.shopify.com" id="shopify" title="Developer at Shopify">Shopify</a> in Waterloo, Canada.
</p>

<nav>
  <ul>
    <li><a class="icon-github-sign" href="https://github.com/christhomson" rel="me"><i></i></a></li>
    <li><a class="icon-twitter-sign" href="https://twitter.com/chris24" rel="me"><i></i></a></li>
    <li><a class="icon-linkedin-sign" href="https://www.linkedin.com/in/cdthomson" rel="me"><i></i></a></li>
    <li><a class="icon-envelope" href="mailto:chris@cthomson.ca" rel="me"><i></i></a></li>
  </ul>
</nav>
