<div id="notes" class="container">
  <h1>Lecture Notes</h1>
  <div id="byline">By <a href="/" rel="me">Chris Thomson</a></div>
  <div id="mistakes">Spotted a mistake? Yikes. Please <a href="http://github.com/christhomson/lecture-notes/issues/new">open an issue</a> or <a href="mailto:chris@cthomson.ca">email me</a> so I can correct it.</div>

  <ul id="documents">
    <li id="cs360" class="populated"><a href="http://notes.cthomson.ca/dl/latest/cs360.pdf"></a><h2>CS 360 (F13)</h2><h3>Introduction to the Theory of Computing</h3><span class="last-modified">Last updated: <span class="time">11/17/2014 at  7:00 PM</span></span><i class="icon-double-angle-right"></i></li>
    <li id="cs240" class="populated"><a href="http://notes.cthomson.ca/dl/latest/cs240.pdf"></a><h2>CS 240 (W13)</h2><h3>Data Structures and Data Management</h3><span class="last-modified">Last updated: <span class="time">11/17/2014 at  7:00 PM</span></span><i class="icon-double-angle-right"></i></li>
    <li id="cs241" class="populated"><a href="http://notes.cthomson.ca/dl/latest/cs241.pdf"></a><h2>CS 241 (W13)</h2><h3>Foundations of Sequential Programs</h3><span class="last-modified">Last updated: <span class="time">04/12/2015 at  7:25 PM</span></span><i class="icon-double-angle-right"></i></li>
    <li id="math239" class="populated"><a href="http://notes.cthomson.ca/dl/latest/math239.pdf"></a><h2>MATH 239 (W13)</h2><h3>Introduction to Combinatorics</h3><span class="last-modified">Last updated: <span class="time">08/28/2015 at  10:40 PM</span></span><i class="icon-double-angle-right"></i></li>
    <li id="psych207" class="populated"><a href="http://notes.cthomson.ca/dl/latest/psych207.pdf"></a><h2>PSYCH 207 (W13)</h2><h3>Cognitive Processes</h3><span class="last-modified">Last updated: <span class="time">01/04/2014 at  6:00 PM</span></span><i class="icon-double-angle-right"></i></li>

    <li id="template">
      <a></a>
      <h2></h2>
      <h3></h3>
      <span class="last-modified">Last updated: <span class="time"></span></span>
      <i class="icon-double-angle-right"></i>
    </li>
  </ul>

  <div id="loading" style="display: none;"></div>

  <footer>
    <a href="http://github.com/christhomson/lecture-notes#disclaimer">I strive for accuracy, however there may be mistakes. Rely on your own notes.</a> <br>
    <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/ca/" title="This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 2.5 Canada license.">Don't be evil: this work may not be redistributed commercially, and attribution must remain.</a>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js" type="text/javascript"></script>
</div>
